@charset "UTF-8";

/* ----- custom font ----- */
@font-face {
    font-family: 'GOT_font';
    src: url('Game_of_Thrones.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* ----- end custom font ----- */

/* ----- default styles ----- */
body { background-image:url(../images/grungeBG.jpg);
	background-repeat:no-repeat; background-position:center center;
	background-color:#000000; font-size:16px; }

h1 {
	font-family: 'GOT_font';
	color:white;
	margin-top:30px;
	font-size:1.25em;
}

main {
	position:relative;
	width:100%;
	text-align:center;
	top:30px;
}

#imageContainer {
	width:600px;
	height:360px;
	background-color:grey;
	margin:0 auto;

	/*uncomment below to hide house banners*/
	overflow:hidden;
}

#houseImages { position:relative; width:4400px; transition: all .5s; }
#houseImages img { float:left; }

#bottomNav { margin-top:30px; }

#navList li {
	display:inline;
	list-style-type:none;
	padding:0px 10px;
	cursor:pointer;
}

/* ----- end default styles ----- */

/* ----- image sprite ----- */
.sigilContainer {
	width:51px;
	height:54px;
	display:inline-block;
	overflow:hidden;
	background-image:url(../images/GOT_sprites.png);
	background-repeat:no-repeat;
	transition:transform .3s;
	-webkit-transition:-webkit-transform .3s;
	-moz-transition:-moz-transform .3s;
}

.stark { background-position:0px -54px; }
.stark:hover { background-position:0px 0px; }

.baratheon { background-position:-50.5px -54px; }
.baratheon:hover { background-position:-51px 0px; }

.lannister { background-position:-101px -54px; }
.lannister:hover { background-position:-101px 0px; }

.tully { background-position:-152px -54px; }
.tully:hover { background-position:-152px 0px; }

.greyjoy { background-position:-202px -54px; }
.greyjoy:hover { background-position:-202px 0px; }

.arryn { background-position:-253px -54px; }
.arryn:hover { background-position:-253px 0px; }

.frey { background-position:-304px -54px; }
.frey:hover { background-position:-304px 0px; }

.targaryen { background-position:-356px -54px; }
.targaryen:hover { background-position:-356px 0px; }


/* ----- end image sprite ----- */

/* ----- classes for transitions ----- */

.scaleUp {
	-moz-transform:scale(1.7, 1.7);
	-webkit-transform:scale(1.7, 1.7);
	transform:scale(1.7, 1.7);
}

.scaleHalfUp {
	-moz-transform:scale(1.2, 1.2);
	-webkit-transform:scale(1.2, 1.2);
	transform:scale(1.2, 1.2);
}

/* add styles here for lightbox and video */

.lightbox {
	display: none;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: rgba(0,0,0,0.95);
}

.close-lightbox {
	position: absolute;
	right: 12px;
	top: 12px;
	font-family: arial, helvetica, sans-serif;
	font-size: 2em;
	font-weight: bold;
	color: white;
	cursor: pointer;
}

.show-lightbox { display: block; }

video {
	width: 80%;
	margin-top: 10%;
	border: thin solid #949393;
}



.controls{margin: 1.5em;border: thin dashed white;}
.controls ul {list-style-type: none;}
.controls ul li{display: inline-block ;padding: 0 1em;}


[data-icon]:not([data-icon=pause-circle]):not([data-icon=play-circle]){
  color: white;font-size: 2em;cursor: pointer;
}

[data-icon]{font-size: 3em;cursor: pointer;color: white;
}

.title {
	color: white;
	font-size: 1.5em;
}
p {
	color: white;
	line-height: 30px;
	font-size: 18px;
	width: 70%;
	text-align: left;
	text-indent: 20px;
	margin: 0 auto;
	margin-top: 10px;
}


